<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <small><i>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</i></small>
  </span>
  <% if current_user?(micropost.user) %>
  	<small>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
    </small>                                 
  <% end %>
</li>